body {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 1280px;
}

form {
  display: flex;
  flex-direction: column;
  width: min-content;
  align-items: center;
  margin: 20px auto 0 auto;
  padding: 10px;
  
  background-color: rgba(192, 192, 192, 0.521);
  border-radius: 5px 5px;
}

input, button {
  margin: 2px;
  width: max-content;
}

button {
  background-color: skyblue;
  border: skyblue 5px solid;
  border-radius: 5px;
  box-shadow: 2px 2px 1px slategray ;
}

